<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.key.dao.UserKeyDao">

<select id="selectByKey" resultType="net.lab1024.sa.admin.module.business.key.domain.entity.UserKeyEntity">
    SELECT *
    FROM t_user_key
    WHERE t_user_key.secret = #{key}
</select>

<select id="selectKeyByUserId" resultType="java.lang.String">
    SELECT t_user_key.secret
    FROM t_user_key
    WHERE t_user_key.user_id = #{userId}
</select>
</mapper>